@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Anton", sans-serif;
  
  --color-primary-pink: #ed7ec3;
  --color-soft-blue: #4f63d1;
  --color-brand-gray: #d1d1d1;
  --color-fitness-charcoal: #080808;
}

@layer base {
  body {
    @apply bg-fitness-charcoal text-white font-sans;
  }
}

.brutalist-border {
  @apply border-2 border-white;
}

.brutalist-shadow {
  box-shadow: 4px 4px 0px 0px var(--color-primary-pink);
}

.brutalist-shadow-blue {
  box-shadow: 4px 4px 0px 0px var(--color-soft-blue);
}

.brutalist-shadow-white {
  box-shadow: 4px 4px 0px 0px #ffffff;
}
